.footer-container{
    // background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 32px;
}
.Fruits-information{
    margin-top: 150px;

}
.harvest-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap:20px;
}
.harvest-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap:8px ;
}
.harves-img__footer{
    width: 349px;
    height: 179px;
}

.footer-left__side{
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.footer-socials{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 0;
    margin: 0;
}
.address-position{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-socials__list{

    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border:1px solid $main-color;

}
.footer-socials__icon{
    fill: $main-color;
}
.footer-phone, .footer-contacts-item{
color:$main-color;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
letter-spacing: -0.36px;
text-transform: uppercase;

}
.footer-contacts{
    padding: 0;
    margin: 0;
}

@media screen and(max-width:375px) {

    .footer-container{
        background-color: aqua;
        width: 100%;
        display:grid;
        grid-template-columns: repeat(1, 3fr);
        justify-content: center;
        align-items: center;
        justify-items: center;
        gap: 44px;
    }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
    .footer-socials{
        display: flex;
        justify-items: center;
        margin-left: 10px;

    }
    .address-position{
        width: 143px;
        align-items: center;
        margin-left: 20px;
    }
    
    .footer-phone, .footer-contacts-item{
        color: #AE1332;
        text-align: center;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */
        letter-spacing: -0.28px;
    }
    
}
@media screen and(min-width:376px ) and (max-width:768px){
       .footer-menu{
        position: absolute;
        top: 250px;
        left: -150px;
        width: 208px;
        align-items: flex-start;

       }
       .footer-socials{
        transform: translateY(50px);
       }
}