@media only screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 130vh;
    overflow: scroll;
    z-index: 999;
    background-color: $main-color;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .is-open {
    transform: translateX(0);
  }

  .menu-hamburger-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 124px;
    padding-left: 20px;
    padding-right: 20px;

    width: 100vw;
    height: 50px;

    background-color: $color-primary;
  }

  .top-logo {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .nav-logo {
    fill: $main-color;
  }

  .menu-btn {
    background-color: transparent;
    border: none;
  }

  .close-btn {
    padding: 0;
    width: 24px;
    height: 24px;
    color: $main-color;
    transition: color var(--var-1-animation);
  }

  .close-btn:hover,
  .close-btn:focus {
    color: var(--color-yellow);
  }

  .menu-close {
    stroke: currentColor;
  }

  .menu-hamburger-title {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: $main-color;
  }

  .menu-hamburger-list {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-hamburger-item {
    margin-bottom: 16px;

    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;

    text-align: center;
    letter-spacing: -0.04em;
    color: $color-primary;
  }

  .mobile-nav__link {
    transition: color var(--var-1-animation);
    color: $color-primary;
  }

  .mobile-nav__link:hover,
  .mobile-nav__link:focus {
    color: $color-bg-green;
  }

  .basket-btn-down {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: $color-primary;
    transition: color var(--var-1-animation);
  }

  .basket-btn-down:hover,
  .basket-btn-down:focus {
    color: var(--color-yellow)
  }

  .icon-basket {
    fill: currentColor;
  }

  .modal-open {
    overflow: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
  .menu-hamburger-top{
    display: none;
  }
}
