.modal {
    position: absolute;
    z-index: 20;
    left: 0;
    top: 3350;
    width: 100%;
    height: 100%;
    visibility: visible;
}

.modal__div {
    background-color: $color-primary;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 891px;
    height: 911px;
    padding: 40px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.modal__btn_cerrar {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: $color-primary;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &:hover {
        cursor: pointer;
    }
}

.is-hidden {
    visibility: hidden;
    pointer-events: none;
}

.modal__titulo{
    color: $main-color;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
    font-size: 40px;    
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -1.6px;
    padding-bottom: 40px;
    margin: 0;
}

.formulario__items{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 21px;
}

.formulario__item1{
    width: 257px;
    height: 308px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #F8766B;
    padding: 40px 36px 14px 20px;
}

.formulario__item2 {
    width: 257px;
    height: 308px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #EDD251;
    padding: 40px 36px 14px 20px;
}

.formulario__item3 {
    width: 257px;
    height: 308px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #9DC262;
    padding: 40px 36px 14px 20px;
}

.check__label1 {
    display: flex;
    position: absolute;
    align-items: center;
    top: 135px;
    left: 260px;
}

.check__label2 {
    display: flex;
    position: absolute;
    align-items: center;
    top: 135px;
    left: 540px;
}

.check__label3 {
    display: flex;
    position: absolute;
    align-items: center;
    top: 135px;
    left: 820px;
}

.check__checkbox {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border: 1.5px solid white;
    border-radius: 4px;
}

.check__icon {
    position: absolute;
    top: -2px;
    left: -2px;
    opacity: 0;
}

.check__input {
    position: absolute;
    appearance: none;

    &:focus {
        +.check__checkbox {
            border-color: $color-primary;
        }
    }

    &:hover {
        +.check__checkbox {
            border-color: $main-color;
            cursor: pointer;
        }
    }

    &:checked {
        +.check__checkbox {
            border-color: $color-primary;
            background-color: transparent;

            .check__icon {
                opacity: 1;
            }
        }
    }
}


.item__title{
    color: $color-primary;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.96px;
    margin: 0;
    padding-bottom: 8px;
}

.item__subtitle {
    color: $color-primary;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
    margin: 0;
    padding-bottom: 4px;
}

.formulario__inputs{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 0;
}

.formulario__input{
    padding-top: 19px;
}

.formulario__div{
    padding-bottom: 14px;
}

.input{
    width: 360px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid #000;
    opacity: 0.3;
    padding: 15px 0px 15px 24px;
}

.formulario__textarea{
    padding-bottom: 20px;
}

.input_textarea{
    width: 360px;
    height: 145px;
    border-radius: 20px;
    border: 1px solid #000;
    opacity: 0.3;
    padding: 15px 0px 0px 24px;
}

.formulario__btn{
    color: $color-primary;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    border-radius: 100px;
    background: #9DC162;
    border: none;
    padding: 15px 35px;
    &:hover {
        cursor: pointer;
    }
}

.formulario__img_person{
    margin-top: 40px;
}

@media (max-width: 1279px) {
    .modal {
        top: 4750;
    }
    .modal__div {
        width: 704px;
        height: 853px;
    }
    .formulario__items {
        gap: 12px;
        padding-bottom: 15px;
    }
    .formulario__item1 {
        width: 200px;
        height: 250px;
        padding: 40px 30px 14px 20px;
    }
    .formulario__item2 {
        width: 200px;
        height: 250px;
    }
    .formulario__item3 {
        width: 200px;
        height: 250px;
    }
    .check__label1{
        left: 205px;
    }
    .check__label2{
        left: 420px;
    }
    .check__label3{
        left: 630px;
    }
    .item__title {
        font-size: 17px;
        line-height: 24px;
        letter-spacing: -0.72px;
        padding-bottom: 2px;
    }
    .formulario__img_person {
        margin-top: 227px;
    }
}

@media (max-width: 767px) {
    .modal {
        top: 6950;
    }
    .modal__div{
        width: 335px;
        height: 903px;
        padding: 20px;
    }
    .modal__titulo {
        font-size: 28px;
        line-height: 28px;
        letter-spacing: -1.12px;
    }
    .formulario__items {
        gap: 12px;
        padding-bottom: 40px;
        flex-wrap: wrap;
    }
    .formulario__item1 {
        width: 295px;
        height: 119px;
        padding: 20px 0px 0px 20px;
    }
    .formulario__item2 {
        width: 295px;
        height: 119px;
        padding: 20px 0px 0px 20px;
    }
    .formulario__item3 {
        width: 295px;
        height: 119px;
        padding: 20px 0px 0px 20px;
    }
    .check__label1 {
        top: 100px;
        left: 280px;
    }

    .check__label2 {
        top: 230px;
        left: 280px;
    }

    .check__label3 {
        top: 360px;
        left: 280px;
    }
    .item__title {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.72px;
        padding-bottom: 2px;
    }
    .item__img1{
        position: absolute;
        left: 190px;
        top: 95px;
    }
    .item__img2 {
        position: absolute;
        left: 190px;
        top: 235px;
    }
    .item__img3 {
        position: absolute;
        left: 190px;
        top: 370px;
    }
    .formulario__input {
        padding: 0;
    }
    .input {
        width: 295px;
        height: 46px;
        padding: 14px 0px 14px 24px;
    }
    .input_textarea {
        width: 295px;
        height: 132px;
        padding: 14px 0px 0px 24px;
    }
    .formulario__img_person {
        display: none;
    }
    .formulario__btn {
        padding: 12px 24px;
    }
}