.hero_title{
    padding-top: 39px;
    padding-bottom: 75px;
}

.hero {
    height: 947px;
    display: flex;
}

.tittle {
    color: $color-primary;
    text-align: center;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -2.56px;
    text-transform: uppercase;
    padding-top: 25px;
    padding-left: 191px;
    z-index: 9;
}

.frame {
    width: 486px;
    height: 742px;
    position: absolute;
    margin-left: 364px;
    margin-top: 63px;
    border: 2px solid;
    border-color: $color-primary;
    border-top-color: $main-color;
    opacity: 30%;
    border-radius: 1000px;
    z-index: 8;
}

.hero__image {
    position: absolute;
    padding-left: 381px;
    padding-top: 83px;
    z-index: 8;
}

.hero__frame2 {
    position: absolute;
    width: 114px;
    height: 114px;
    margin-left: 551px;
    margin-top: 706px;
    z-index: 9;
    border-radius: 50%;
    transform: rotate(-14deg);
    color: $main-color;
    text-align: center;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -1.12px;
    text-transform: uppercase;
    border-color: $main-color;
    border: 1px solid transparent;
    &:hover {
            color: $color-button;
        }
}

.hero__banana {
    padding-top: 110px;
    padding-right: 230px;
    position: absolute;
    /*transform: scaleX(-1);*/
    transform: rotate(20deg) scaleX(-1);
    filter: blur(3.5px);
    z-index: 7;
}

.hero__strawberry {
    padding-left: 850px;
    position: absolute;
    filter: blur(3.5px);
    z-index: 7;
}

.hero__text--description {
    width: 222px;
    color: $color-primary;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    position: absolute;
    z-index: 7;
    margin: 0;
    padding-top: 369px;
    padding-left: 30px;
    padding-bottom: 44px;
    text-align: justify;
}

.card {
    position: absolute;
    width: 249px;
    height: 387px;
    background-color: $color-bg-green;
    margin-top: 560px;
    margin-left: 62px;
    border-radius: 500px;
    padding: 28px 25px 40px 24px;
}

.card__tittle {
    color: $color-primary;
    text-align: center;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;
    margin: 0;
    padding-bottom: 61px;
}

.card__text {
    color: $color-primary;
    text-align: center;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 2px;
}

.card2 {
    position: absolute;
    width: 249px;
    height: 387px;
    background-color: $color-secundary;
    margin-top: 336px;
    margin-left: 969px;
    border-radius: 500px;
    padding: 28px 44px 40px 43px;
}

.card__tittle2 {
    color: $color-primary;
    text-align: center;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;
    margin: 0;
    padding-bottom: 19px;
}

.card__text2 {
    color: $color-primary;
    text-align: center;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 17px;
}

.hero__buttons {
    display: flex;
    position: absolute;
    margin-left: 955px;
    margin-top: 767px;
    gap: 8px;
    align-items: start;
}

.hero__buttons2 {
    display: flex;
    position: absolute;
    margin-left: 985px;
    margin-top: 813px;
    gap: 8px;
    justify-content: flex-end;
    align-items: start;
}

.hero__button--organic {
    border-radius: 1000px;
    color: $color-primary;
    border: 1px solid $color-primary;
    text-align: center;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    padding: 12px 32px;
    position: relative;
}


@media (max-width: 1279px) {
    .hero {
        height: 1368px;
    }
    .hero_title {
        padding-top: 55px;
        padding-bottom: 68px;
    }
    .tittle{
        font-size: 50px;
        line-height: 54px;
        /* 108% */
        letter-spacing: -2px;
        padding: 0px;
        padding-left: 40px;
    }
    .frame {
        margin-left: 109px;
        margin-top: 44px;
    }
    .hero__image {
        padding-left: 126px;
        padding-top: 61px;
    }
    .hero__frame2 {
        margin-left: 295px;
        margin-top: 690px;
    }
    .hero__banana {
        padding-top: 114px;
        padding-right: 0px;
    }
    .hero__strawberry {
        padding-left: 591px;
    }
    .hero__text--description {
        width: 279px;
        padding-top: 848px;
        padding-bottom: 45px;
    }
    .card {
        margin-top: 983px;
        margin-left: 62px;
    }
    .card2 {
        margin-top: 848px;
        margin-left: 423px;
    }
    .hero__buttons {
        margin-left: 438px;
        margin-top: 1279px;

    }
    .hero__buttons2 {
        margin-left: 471px;
        margin-top: 1325px;
    }
}

@media (max-width: 767px) {
    .hero { 
        height: 1710px;
    }
    .hero_title {
        padding-top: 56px;
        padding-bottom: 40px;
    }
    .tittle {
        font-size: 28px;
        line-height: 28px;
        /* 108% */
        letter-spacing: -1.12px;
        padding: 0px;
    }
    .frame {
        margin-left: 0px;
        margin-top: 49px;
        width: 335px;
        height: 509px;
    }
    .hero__image {
        padding-left: 14px;
        padding-top: 63px;
    }
    .hero__frame2 {
        margin-left: 128px;
        margin-top: 504px;
    }
    .hero__banana {
        padding-top: 60px;
        padding-right: 0px;
    }
    .hero__strawberry {
        padding-left: 279px;
    }
    .hero__text--description {
        width: 315px;
        padding-top: 628px;
        padding-bottom: 44px;
        padding-left: 28px;
    }
    .card {
        margin-top: 762px;
        margin-left: 43px;
    }
    .card2 {
        margin-top: 1321px;
        margin-left: 43px;
    }
    .hero__buttons {
        margin-left: 35px;
        margin-top: 1193px;
    }
    .hero__buttons2 {
        margin-left: 35px;
        margin-top: 1239px;
    }
}