.hero {
    background-color: $main-color;

}
.tittle {
    width: auto;
    position: absolute;
    color: $color-primary;
    text-align: center;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 2.56px;
    text-transform: uppercase;
    padding-top: 64px;
    margin-left: 191px;
    z-index: 9;
}
.frame {
    width: 486px;
    height: 742px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(115px);
    align-items: center;
    margin-left: 395px;
    margin-top: 100px;
    border: 2px solid;
    border-color: $color-primary;
    border-radius: 1000px;

}

.hero__image {
    height: 702px;
    width: 456px;
    z-index: 1;
}

.hero__frame2 {
    position: absolute;
    width: 114px;
    height: 114px;
    transform: rotate(-14deg);
    margin-top: 650px;
    z-index: 9;
    border-radius: 50%;
    transform: rotate(-14deg);
    color: $main-color;
    text-align: center;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -1.12px;
    text-transform: uppercase;
    border-color: $main-color;
    border: 1px solid transparent;
}
.hero__banana {
    width: 220px;
    height: 145px;
    margin-top: 191px;
    margin-left: 213px;
    position: relative;
    top: 20px;
    transform: translateY(-940px) rotate(20deg) scaleX(-1);
    filter: blur(3.5px);
    z-index: 7;
}
.hero__strawberry {
    width: 120px;
    height: 120px;
    margin-top: 39px;
    margin-left: 937px;
    position:relative;
    transform: translateY(-740);
    // background: url('../images/1x/strawberry.png'), $main-color 0px 0px / 100% 100% no-repeat;
    filter: blur(4px);
    z-index: 7;
}

.hero__text--description {
    width: 222px;
    color: $color-primary;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.56px;
    position: absolute;
    z-index: 7;
    margin-top: 408px;
    margin-left: 62px;
    transform: translateY(-1250px);
}

.card {
    position: absolute;
    width: 249px;
    height: 387px;
    background-color: $color-bg-green;
    margin-top: 560px;
    margin-left: 62px;
    border-radius: 500px;
    transform: translateY(-1250px);
}

.card__tittle {
    color: $color-primary;
    text-align: center;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;
    margin-top: 28px;
}

.card__image {
    width: 200px;
    height: 172px;
    margin-left: 24px;
    margin-top: 61px;
}

.card__text {
    width: 155px;
    color: $color-primary;
    text-align: center;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin-top: 2px;
    margin-left: 47px;
}

.card2 {
    position: absolute;
    width: 249px;
    height: 387px;
    background-color: $color-secundary;
    margin-top: 336px;
    margin-left: 969px;
    border-radius: 500px;
    transform: translateY(-1200px);
}

.card__tittle2 {
    color: $color-primary;
    text-align: center;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.48px;
    margin-top: 28px;
}

.card__image2 {
    width: 200px;
    height: 172px;
    margin-left: 24px;
    margin-top: 19px;
}

.card__text2 {
    width: 155px;
    color: $color-primary;
    text-align: center;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin-top: 2px;
    margin-left: 47px;
}

.hero__buttons {
    display: flex;
    position: absolute;
    margin-left: 955px;
    margin-top: 767px;
    gap: 8px;
    align-items: start;
    transform: translateY(-1200px);
}

.hero__buttons2 {
    display: flex;
    position: absolute;
    margin-left: 985px;
    margin-top: 813px;
    gap: 8px;
    justify-content: flex-end;
    align-items: start;
    transform: translateY(-1190px);
}

.hero__button--organic {
    border-radius: 1000px;
    color: $color-primary;
    border: 1px solid $color-primary;
    text-align: center;
    text-shadow: 0px 4px 70px $color-primary-text;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    padding: 12px 32px;
    position: relative;
}
@media (max-width: 768px) {
    .hero-container{
        position:absolute;
        height: 760px;
    }
    .tittle{
        width:704px ;
        margin: 0 32 ;
        font-size: 40px;
    }
    .frame{
        position: relative;
        top: 100px;

        transform: translateX(-250px);
    }
    .hero__banana{
        width:132px;
        position: relative;
        top:0px;
        left: -150px;
    }
    .hero__strawberry{
        width:132px;
        position: relative;
        top:30px;
        left: -360px;
    }
    .hero__text--description{
        width: 279px;
        position: relative;
        top:520px;
        left: -30px;
        text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.56px;
    }
    .card2{
        position: relative;
        top:30px;
        left: -520px;
    }
    .hero__buttons{
        margin: 0;
        position: relative;
        left: 450px;
        top: 100px;
    }

    .hero__buttons2{
        position: relative;
        left: -270px;
        top: -730px;
    }
}
@media (max-width:375px){
    .hero{
        width: auto;
        display:flex;
        flex-direction: block;
        gap: 30px;
    }
    .tittle{
        width: 335px;
        color: #FFF;
        text-align: center;
        text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
        font-family: DM Sans;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 100% */
        letter-spacing: -1.12px;
        margin: 36 20 0 20;
        }
        .hero__image{
            transform: translate(-400px);
        }
}
