@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Spectral+SC:wght@700&display=swap');
$font-family:'DM Sans', serif;
$main-color: rgba(174, 19, 50, 1);
$color-primary: rgba(255, 255, 255, 1);
$color-primary-text: rgba(0, 0, 0, 1);
$color-secundary: rgba(245, 206, 19, 1);
$color-button: rgba(157, 194, 98, 1);
$color-bg-green: rgba(164, 203, 102, 1);
$color-bg-strawberry: rgba(248, 118, 107, 1);
$color-bg-banana: rgba(237, 210, 81, 1);
$color-bg-lemon: rgba(191, 214, 99, 1);
$color-bg-apple: rgba(233, 63, 41, 1);
$color-bg-peach: rgba(219, 79, 75, 1);
$color-bg-plums: rgba(155, 83, 102, 1);
$color-bg-orange: rgba(244, 127, 76, 1);
$color-bg-kiwi: rgba(152, 179, 126, 1);
$hover-social-icon: rgba(174, 19, 50, 0.1);