<section class="description">
  <div class="container bg-description">
    <h2 class="description__title">
      TO ORDER YOUR FRUIT BASKET, SIMPLY FOLLOW THESE EASY STEPS
    </h2>
    <p class="description__text">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>
    <ul class="description__items list">
      <li class="description__item">
        <div class="item__div">
          <p class="item__div_p p1">First Step</p>
          <p class="item__div_text">
            Just choose the fruit you want to order by clicking on the
            checkboxes next to it.
          </p>
        </div>
      </li>
      <li class="description__item">
        <div class="item__div">
          <p class="item__div_p p2">Second Step</p>
          <p class="item__div_text">
            Click on the basket and fill out the form.
          </p>
        </div>
      </li>
      <li class="description__item">
        <div class="item__div">
          <p class="item__div_p p3">Third Step</p>
          <p class="item__div_text">
            Sit back and relax! Your fresh fruit basket will be delivered.
          </p>
        </div>
      </li>
    </ul>
    <div class="description__img">
      <picture>
        <source
          srcset="
            ./images/1x/description.png    1x,
            ./images/2x/description@2x.png 2x
          "
          media="(min-width:768px)"
          type="image/png"
          width="100%"
        />
        <source
          srcset="
            ./images/1x/description.png    1x,
            ./images/3x/description@3x.png 3x
          "
          media="(min-width:370px)"
          type="image/png"
          width="100%"
        />
        <img class="img-description" src="./images/1x/description.png" alt="Description" />
      </picture>
    </div>
  </div>
</section>
