<footer class="footer">
  <div class="footer-container container">
    <div class="harvest-footer">
      <img class="harves-img__footer" src="./images/1x/person_footer.png" alt="">
      <ul class="ul harvest-item ">
        <li>
          <svg class="logo-svg" width="16" height="16">
          <use href="./images/icons.svg#logo"></use>
          </svg>
       </li>
        <li> <a class="menu-font" href="./index.html">Fresh Harvest Box</a></li>
      </ul>
    </div>

    <div>
      <ul class="menu ul footer-menu">
        <li class="menu-item">
          <a class="menu-link menu-font" href="#how-it-works">How It Works</a>
        </li>
        <li class="menu-item">
          <a class="menu-link menu-font" href="#fruits">Fruits</a>
        </li>
        <li class="menu-item">
          <a class="menu-link menu-font" href="#contacts">Contacts</a>
        </li>
      </ul>
    </div>


    <div class="footer-left__side">
      <ul class="footer-socials ul">
        <li class="footer-socials__list">
          <a
            class="footer-socials-link "
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="footer-socials__icon" width="24" height="24">
              <use href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials__list">
          <a
            class="footer-socials-link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="footer-socials__icon" width="24" height="24">
              <use href="./images/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials__list"">
          <a
            class="footer-socials-link"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="footer-socials__icon" width="24" height="24">
              <use href="./images/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="address-position">
        <a class="footer-phone link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a>
        <ul class="footer-contacts">
          <li class="footer-contacts-item ul">
            <a
              class="footer-contacts-link footer-address link footer-contacts-item "
              href="https://goo.gl/maps/kj35jBKf2ffBkgqM9"
              target="_blank"
              rel="noreferrer noopener"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a>
          </li>
        </ul>
      </address>
    </div>
  </div>
      <button class="go-top btn">
      <svg class="go-top-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-arrow-up"></use>
      </svg>
    </button>
</footer>
