<footer class="footer-section">
  <div class="footer-container container">
    <div class="footer-right-side">
      <div class="footer-img-thumb">
        <picture>
          <source
            srcset="
              ./images/1x/person_footer.png    1x,
              ./images/2x/person_footer@2x.png 2x
            "
            media="(min-width:768px)"
            type="image/png"
            width="100%"
          />
          <source
            srcset="
              ./images/1x/person_footer.png    1x,
              ./images/3x/person_footer@3x.png 3x
            "
            media="(min-width:370px)"
            type="image/png"
            width="100%"
          />
          <img
            class="footer-img"
            src="./images/1x/person_footer.png"
            alt="the girl is holding bananas"
            width="349"
            height="179"
            loading="lazy"
          />
        </picture>
        <a class="footer-logo link" href="./index.html">
          <svg class="footer-logo-img" width="16" height="16">
            <use href="./images/icons.svg#logo"></use>
          </svg>
          <span class="footer-logo-text">fresh harvest box</span>
        </a>
      </div>
      <ul class="footer-nav list">
        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#how-it-works">How It Works</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#fruits">Fruits</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </div>

    <div class="footer-left-side">
      <ul class="footer-socials list">
        <li class="footer-socials-item">
          <a
            class="footer-socials-link link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="footer-socials-img" width="24" height="24">
              <use href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            class="footer-socials-link link"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="footer-socials-img" width="24" height="24">
              <use href="./images/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials-item">
          <a
            class="footer-socials-link link"
            href="https://www.youtube.com/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="footer-socials-img" width="24" height="24">
              <use href="./images/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address>
        <ul class="footer-contacts list">
          <li class="footer-contacts-item">
            <a class="footer-contacts-link link" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-contacts-item">
            <a
              class="footer-contacts-link footer-address link"
              href="https://goo.gl/maps/kj35jBKf2ffBkgqM9"
              target="_blank"
              rel="noreferrer noopener"
              >1678 S. Pioneer Road Salt Lake City UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
    <button class="go-top btn">
      <svg class="go-top-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-arrow-up"></use>
      </svg>
    </button>
  </div>
</footer>
