<section >
  <div class="container " >
    <div class="header-container">
      <nav class="header-nav">
        <ul class="menu ul">
          <li class="menu-item">
            <a class="menu-link menu-font" href="#how-it-works">How It Works</a>
          </li>
          <li class="menu-item">
            <a class="menu-link menu-font" href="#fruits">Fruits</a>
          </li>
          <li class="menu-item">
            <a class="menu-link menu-font" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <div class="fresh-harvest">
          <svg class="logo-svg" width="16" height="16">
            <use href="./images/icons.svg#logo"></use>
          </svg>
          <a class="menu-font" href="./index.html">Fresh Harvest Box</a>
      </div>
      <div>
        <button class="basket-btn color-change" type="button">
          <svg  width="28" height="28">
            <use  href="./images/symbol-defs.svg#icon-uil_cart"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
