<div class="menu-container js-menu-container mobile-scroll" id="mobile-menu">
  <div class="menu-hamburger-top">
    <a class="top-logo link" href="./index.html">
      <svg class="nav-logo" width="16" height="16">
        <use href="./images/icons.svg#logo"></use>
      </svg>
      <span class="menu-hamburger-title">fresh harvest box</span>
    </a>
    <button class="menu-btn close-btn js-close-menu">
      <svg class="menu-close" width="24" height="24">
        <use href="./images/icons.svg#x-12"></use>
      </svg>
    </button>
  </div>
  <ul class="menu-hamburger-list list">
    <li class="item menu-hamburger-item">
      <a href="#how-it-works" class="mobile-nav__link link">How It Works</a>
    </li>
    <li class="item menu-hamburger-item">
      <a href="#fruits" class="mobile-nav__link link">Fruits</a>
    </li>
    <li class="item menu-hamburger-item">
      <a href="#contacts" class="mobile-nav__link link">Contacts</a>
    </li>
  </ul>
  <button class="menu-btn basket-btn-down" type="submit">
    <svg class="icon-basket" width="24" height="24">
      <use href="./images/icons.svg#basket"></use>
    </svg>
  </button>
</div>
