<section class="Fruits">
  <div class="container">
    <div class="Fruits-position">
      <div class="Fruits-information">
        <h2 class="fruits-title">organic fruits</h2>
        <p class="fruits-description">
          Our organic fruits are hand-picked from local farms and delivered
          straight to your doorstep,ensuring that you get the freshest and most
          nutritious produce possible. We offer a wide selection of organic
          fruits grown without the use of harmful pesticides or chemicals.
        </p>
      </div>

      <ul class="fruits-position ul">
        <li class="fruit__card strawberry__card">
          <h4 class="title__card">strawberry</h4>
          <p class="plant">plant</p>
          <img
            class="fruit-img"
            src="./images/1x/strawberry.png"
            alt="strawberry"
          />
          <div class="bg-price"><p class="price">100 UAH / kg</p></div>
        </li>
        <li class="fruit__card banana__card">
          <h4 class="title__card">banana</h4>
          <p class="plant">plant</p>
          <img class="fruit-img" src="./images/1x/banana.png" alt="banana" />
          <div class="bg-price"><p class="price">80 UAH / kg</p></div>
        </li>
        <li class="fruit__card watermelon__card">
          <h4 class="title__card">Watermelon</h4>
          <p class="plant">plant</p>
          <img
            class="fruit-img"
            src="./images/1x/watermelon.png"
            alt="watermelon"
          />
          <div class="bg-price"><p class="price">40 UAH / kg</p></div>
        </li>
        <li class="fruit__card lime__card">
          <h4 class="title__card">Lime</h4>
          <p class="plant">plant</p>
          <img class="fruit-img" src="./images/1x/lime.png" alt="lime" />
          <div class="bg-price"><p class="price">60 UAH / kg</p></div>
        </li>
        <li class="fruit__card apple__card">
          <h4 class="title__card">Apple</h4>
          <p class="plant">plant</p>
          <img class="fruit-img" src="./images/1x/apple.png" alt="apple" />
          <div class="bg-price"><p class="price">50 UAH / kg</p></div>
        </li>
        <li class="fruit__card peach__card">
          <h4 class="title__card">Peach</h4>
          <p class="plant">plant</p>
          <img class="fruit-img" src="./images/1x/peach.png" alt="peach" />
          <div class="bg-price"><p class="price">80 UAH / kg</p></div>
        </li>
        <li class="fruit__card plums__card">
          <h4 class="title__card">Plums</h4>
          <p class="plant">plant</p>
          <img class="fruit-img" src="./images/1x/plums.png" alt="plums" />
          <div class="bg-price"><p class="price">40 UAH / kg</p></div>
        </li>
        <li class="fruit__card orange__card">
          <h4 class="title__card">Orange</h4>
          <p class="plant">plant</p>
          <img class="fruit-img" src="./images/1x/orange.png" alt="orange" />
          <div class="bg-price"><p class="price">60 UAH / kg</p></div>
        </li>
        <li class="fruit__card kiwi__card">
          <h4 class="title__card">Kiwi</h4>
          <p class="plant">plant</p>
          <img class="fruit-img" src="./images/1x/kiwi.png" alt="kiwi" />
          <div class="bg-price">
            <p class="price">90 UAH / kg</p>
          </div>
        </li>
      </ul>
      <div class="icons">
        <div class="order-position">
          <svg class="icon_arrow" height="14px" width="14px">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
          <button data-modal-open class="fruits__btn">ORDER</button>
        </div>
      </div>
    </div>
  </div>
</section>
